body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-card {
  width: 320px;
  padding: 30px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.3);

  text-align: center;
  color: white;

  box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}
.search {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.weather-info img {
  width: 100px;
}

.weather-info h1 {
  font-size: 48px;
  margin: 10px 0;
}
